.about-title {
  font-size: 2.8rem;
  margin-bottom: 30px;
  color: #3B2F2F;
}

.slide-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  min-height: 500px; /* gives space for image + description */
}

.slide-content {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* pushes description to bottom */
  align-items: center;
}

.team-img {
  width: 320px;
  height: auto;
  object-fit: contain; /* ensures full image is visible */
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  margin-bottom: 20px; /* space before description */
}

.team-name {
  font-size: 1.8rem;
  color: #3B2F2F;
  font-weight: bold;
  margin: 10px 0 5px;
}

.team-desc {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #444;
  margin-bottom: 0;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 30px;
  position: absolute;   /* absolute positioning relative to slide-box */
  top: 50%;             /* vertically center */
  transform: translateY(-50%);
  z-index: 10;          /* on top of image */
}

.arrow-img {
  width: 100px;
  height:auto;
  object-fit: contain;
}

.left-arrow { 
  left: -220px;
  
}
.right-arrow { right: -220px; }


.arrow:hover {
  color: #6B4F4F;
}

.about-container {
  text-align: center;
  padding: 30px 20px 40px; /* pushes it down from navbar */
}
