.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boards-container {
  display: flex;
  gap: 40px; /* space between boards */
  margin-top: 20px;
}

.player-board, .cpu-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bingo-row {
  display: flex;
}

.bingo-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.marked {
  background-color: lightgreen;
}

.wrong {
  background-color: lightcoral;
}
