.bingo-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:100vh;
  background-color:transparent;
}

.boards-container {
  display: flex;
  gap: 40px; /* space between boards */
  margin-top: 20px;
}

.player-board, .cpu-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bingo-row {
  display: flex;
}

.bingo-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.marked {
  background-color: lightgreen;
}

.wrong {
  background-color: lightcoral;
}

.bingo-cell.wrong{
    background-color: red;
    color: white;
}
.create-game{
    align-items: center;
    display:flex;
}
{/*Used chatgpt for help in creating the game-wrapper.*/}
.game-wrapper {
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;         
  min-height: calc(100vh - 200px); 
  padding: 20px;
  text-align: center;

}
.option-group{
    align-items: center;
       display:flex;
       flex-direction:column;
       gap: 5px;
    
}
.option-group2{
        align-items: center;
       display:flex;
       flex-direction:column;
       gap: 5px;
}

